.tablink {
  background-color: #555;
  color: white;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 150px;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  height: 100%;
}
#first-lesson,
#sec-lesson {
  background-color: rgba(204, 204, 204, 0.685);
  width: 100%;
  overflow-y: scroll;
}
#sec-lesson p {
  width: 60%;
  margin: 0 auto;
}

p {
  font-size: 1.3em;
  color: black;
}
.red {
  color: #be3a3a;
  font-weight: bold;
}
.blue {
  background-color: rgb(16, 134, 180);
  font-weight: bold;
}
h2 {
  color: white;
  margin: 20px auto;
  margin-top: 50px;
  width: max-content;
  padding: 10px;
  border-radius: 20px;
}
.header-bg-red {
  background-color: #be3a3a;
}
.header-bg-blue {
  background-color: rgb(16, 134, 180);
}
h3 {
  margin: 50px 0 20px 0;
  color: black;
}
.container {
  width: 100%;
  text-align: center;
  height: 85vh;
}

.container img {
  display: block;
  margin: 10px auto;
  width: 50%;
}
